@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #a8d0e6, #f9e6e6);
  background-size: auto;
  font-family: 'Karla, sans serif';
  margin: 0;
  height: 100vh;
}

.textBox {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
h1, .alfa {
  font-family: "Alfa Slab One";
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
button:hover {
 color: black;
}
button:active {
  animation: highlightDiv 0.1s;
}
.logo {
  animation: highlightDiv 1.1s infinite;
}

#image-box {
  animation: highlightDiv 1.1s;
}

@keyframes highlightDiv {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: black;
  }
  100% {
    transform: scale(1);
    color: white;
  }
}

@keyframes hoverAni {
  0% {
    color: white;
  }
  50% {
    color: gray;
  }
  100% {
    color: black;
  }

}
